<body>

<h1>Tables:</h1>
<p>
<ul>
    <li><a href="/players">Players</a></li>
    <li><a href="/clubs">Clubs</a></li>
    <li><a href="/holes">Holes</a></li>
    <li><a href="/hole_scores">Hole Scores</a></li>
    <li><a href="/club_members">Club Members</a></li>
</ul>
</p>

</body>